@import "nib"

.main
	height 100%
	position relative
	width 100%

header.title
	color #fff
	margin 0 auto 2em
	padding-bottom 1.5em
	text-align center
	width 70%
	h1
		cursor default
		font-size 6em
		margin 0 0 .2em
		div
			display inline-block
			overflow hidden
			vertical-align bottom
		div::first-letter
			color #0A7DFF
	h2
		font-size 2em
		font-style italic
		margin 0

p
	color white
	font-size 1.4em
	margin 0 auto 1em
	text-align center
	width 60%

a, a:hover, a:visited
	color #0A7DFF

.background
	background-image url('../images/bg-temp.jpg')
	background-size cover
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index -1
	&:after
		content ''
		background-color rgba(0,0,0,.65)
		height 100%
		left 0
		position absolute
		top 0
		width 100%

.sociales
	background-color rgba(255,255,255,.8)
	border-radius 55px
	margin 0 auto
	padding 1.5em 1em
	text-align center
	width 15.5em
	figure
		display inline-block
		font-size 0
		margin 0 5px

@media screen and (max-width 640px)
	.background
		background-image url('../images/bg-temp.jpg')
		background-repeat no-repeat
	header.title
		margin-bottom .5em
		width 95%
		h1
			font-size 5em
		h2
			font-size 2em
	p
		display none
